aiolimiter
alembic
anyio
APScheduler
cachetools
certifi
charset-normalizer
DAWG-Python
greenlet
h11
httpcore
httpx
idna
Mako
MarkupSafe
pymorphy3
pymorphy3-dicts-ru
python-dotenv
python-telegram-bot
pytz
requests
six
sniffio
SQLAlchemy
tornado
typing_extensions
tzdata
tzlocal
urllib3
